  body {
  font-family: 'Inter', sans-serif;
  background: url('assets/fondo1.png') no-repeat center center fixed;
  background-size: cover;
  color: #8db7ed; /* azul claro */
}
.container-main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

canvas {
    background-color: #1455d6c4;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.hide {
    display: none !important;
}

#game-board {
    background-color: rgb(184, 198, 240); /* blanco semi-transparente */
}